@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
*{
        padding: 0;
        margin: 0;
        box-sizing: border-box;
}
/*MAPS*/
$font: (
  color: #666,
  family: ("Montserrat", sans-serif),
  size: 16px,
  line-height: 1.4
);
/*MIXIN*/
@mixin size ($width , $height){
    height: $height;
    width: $width;  
}
@mixin text($aling) {
    text-align: $aling;
}
/*BODY*/
body{
    background: #C6FFDD;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #f7797d, #FBD786, #C6FFDD);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #f7797d, #FBD786, #C6FFDD); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    @include size(100%,100%);
}
.navbar{
    border-radius: 20px;
}
/*-------*/
/* INDEX */
/*-------*/

h4{
    font-size: 20px;
}
.profile{
    margin-top: 50px;
    margin-bottom: 40px;
    @include text(center)
}
.container{
    border: 2px solid black;
    border-radius: 20px;
    .pin{
        font-family: map-get($font , family);
        padding: 1em;
    }
}
.foot-index{
    padding: 40px;
    margin: 20px;
    @include text(center)
}
.nav-item{
    cursor: pointer;
}
/*--------*/
/* TURNOS */
/*--------*/
.turnos {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 0;
    margin: 50px;
        .turnos_form {
            background: #C6FFDD;  /* fallback for old browsers */
            background: -webkit-linear-gradient(to top, #f7797d, #FBD786, #C6FFDD);  /* Chrome 10-25, Safari 5.1-6 */
            background: linear-gradient(to bottom, #f7797d, #FBD786, #C6FFDD); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
            padding: 20px;
            border-radius: 20px;
            .grupo_turnos {
                position: relative;
                margin: 45px;
                outline: 0;
            }
        }
    }
:root {
    --colorTextos: black;
}

.controls {
    background: none;
    display: block;
    padding: 10px 10px 10px 5px;
    font-size: map-get($font, size);
    width: 100%;
    border: none;
    border-bottom: 2px solid white;
    resize: none;
}
label{
    font-size: 15px;
    position: absolute;
    left: 5px;
    top: 15px;
    transition: 0.4s ease all;
} 
.controls:focus{
    outline: none;
}
.controls:focus~label, .controls:valid~label{
    position:absolute;
    top: -14px;
}




.btn.btn-secondary {
    display: block;
    height: 40px;
    width: 120px;
    margin: 10px auto;
    border: none;
    border-radius: 4px;
    padding: 20pz;
    color: #ebd6d6;
    cursor: pointer;
    border: 2px solid rgb(34, 32, 32);
}

.boton:hover {
    background-color: rgb(207, 159, 186);
}

.titulo {
    @include text(center);
    font-size: 30px;
    padding: 20px;
}
.foot-turnos{
    padding-top: 50px;
    margin: auto;
    @include text(center);
}
/*-----------*/
/* CONSULTAS */
/*-----------*/
.consultas {
    @extend .turnos;
    form {
        @extend form;
        .consul_form {
            background: #C6FFDD;  /* fallback for old browsers */
            background: -webkit-linear-gradient(to top, #f7797d, #FBD786, #C6FFDD);  /* Chrome 10-25, Safari 5.1-6 */
            background: linear-gradient(to bottom, #f7797d, #FBD786, #C6FFDD); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
            padding: 20px;
            border-radius: 20px;
            .grupo_consul {
                position: relative;
                margin: 45px;
            }
        }
    }
}
.titulo_consul {
    text-align: center;
}

.btn.btn-primary {
    display: block;
    background-color: #c6c6c6;
    height: 40px;
    width: 120px;
    margin: 10px auto;
    border: none;
    border-radius: 4px;
    color: #3d3d3d;
    cursor: pointer;
    border: 2px solid rgb(153, 17, 101);
}
/*-------------*/
/* INFORMACION */
/*-------------*/
.informacion {
    display: grid;
    height: auto;
    width: 100%;
    grid-gap: 25px;
    padding: 20px;
}
.h2_consul{
    font-size: 24px;
    @include text(center)
}
.h2_info {
    font-size: 30px;
    font-family: map-get($font, family);
    padding: 20px;
    @include text(center)
}

.mapa_info {
    background-image: url("./Multimedia/MAPS.png");
    background-position: center;
    height: 300px;
    border: 2px solid rgb(32, 29, 29);
    border-radius: 20px;
    cursor: pointer;
    .mapa_info:hover {
        transform: scale(1.1);
        transition: all 0.9s;
    }
}

.info_derecha {
    padding: 20px;
    border: 2px solid rgb(32, 29, 29);
    border-radius: 20px;

    .info_derecha h2 {
        @include text(center);
        size: 22px;
        font-family: map-get($font , family);
    }

    .info_derecha p {
        font-family:map-get($font, family );
        @include text(center);
        size: 20px;
        padding-top: 20px;
    }
}

.fot_info {
    display: inline;
    width: 50px;
    height: 50px;
    @include text(center);
    font-size: 40px;
    bottom: 20px;
    cursor: pointer;
    margin-top: 10px
}

/*--------------*/
/* TRATAMIENTOS */
/*--------------*/

.carousel-inner {
    padding: 20px;
}

.d-block{
    border-radius: 20px;
    border: 2px solid black;
}

.info-tratamientos{
    display: flexbox;
    border-radius: 10px;
    border: 2px solid black;
    h2{
        padding: 20px;
        text-align: center;
        font-family: "Montserrat", sans-serif ;
    }
    ul{
        text-align: justify;
        text-align: center;
        font-family: "Montserrat", sans-serif ;
        font-size: 30px;
        margin: 2em;
    }
}